<!DOCTYPE HTML>
<html>
	<head>
		<title>Receiver</title>
		<link rel='stylesheet/less' href='../resources/css/style.less'>
		<script src='//cdnjs.cloudflare.com/ajax/libs/less.js/3.11.1/less.min.js'></script>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
	</head>
	<body>
		<div id='container'>
			<div id='camera-container'>
				<video autoplay playsinline></video>
				<canvas id='sensor'></canvas>
			</div>
			<button id='toggle-sensor'>Start Sensor</button>
			<div id='console'>
				<div id='string'></div>
				<br>
				<div id='binary'></div>
			</div>
		</div>
		<script src='../resources/js/base.js?v=7'></script>
		<script src='../resources/js/receiver.js?v=7'></script>
	</body>
</html>