<!DOCTYPE HTML>
<html>
	<head>
		<title>Transmitter</title>
		<link rel='stylesheet/less' href='../resources/css/style.less'>
		<script src='//cdnjs.cloudflare.com/ajax/libs/less.js/3.11.1/less.min.js'></script>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
	</head>
	<body>
		<div id='container'>
			<textarea>Isn't it nice to have a computer, that will talk to you? <a href='https://example.com'>Check it out</a>! <html><head><style>body { background: blue; }</style></head></html></textarea>
			<button id='preview-transmission'>Preview</button>
			<button id='transmit-data'>Transmit</button>
			<div id='transmitter'></div>
		</div>
		<script src='../resources/js/base.js'></script>
		<script src='../resources/js/transmitter.js'></script>
	</body>
</html>