<!DOCTYPE HTML>
<html>
	<head>
		<title>Transmitter</title>
		<link rel='stylesheet/less' href='../resources/css/style.less'>
		<script src='//cdnjs.cloudflare.com/ajax/libs/less.js/3.11.1/less.min.js'></script>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
	</head>
	<body>
		<div id='container'>
			<textarea>Hello World!</textarea>
			<button id='preview'>Preview</button>
			<button id='transmit'>Transmit</button>
			<div id='transmitter'>
				<div id='preview'></div>
				<div id='optical'></div>
			</div>
		</div>
		<script src='../resources/js/base.js?v=3'></script>
		<script src='../resources/js/transmitter.js?v=3'></script>
	</body>
</html>